.textInput {
    border-bottom: 1px solid #000;
    padding: .625rem 0;
    color: #000;
}

.input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    background: none;
}
.input, .label {
    letter-spacing: normal;
    font-size: 1rem;
}

.input {
    color: #000;
    line-height: 1;
    font-weight: 400;
}
