$navBorderHeight: .006rem;
$navHeight: 3.5rem;
$navHeightLg: 4rem;
$subNavHeight: 48px;

$brandHeaderHeight: .5rem;

$promoBannerHeight: 2.5rem;
$navLinkItemHorizontalPaddingWithSubList: 1.25rem;

.nav {
    font-family: Source Sans Pro;
    font-size: 1rem;
    line-height: 1.25;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #6b6257;
    height: $navHeightLg + $navBorderHeight;
    font-weight: 300;
}

.nav__wrapper {
    z-index: z(sticky) + 1;
    width: 100%;
    position: relative;
}

.nav__content {
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
    overflow: visible;
}

.container {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1110px;
    padding: 0;
    overflow-y: hidden;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: color(contrast, white);
    height: $navHeightLg + $navBorderHeight;
    overflow-x: hidden;
}

.nav__saatvaLogo {
    width: 107px;
    display: block;
    fill: #c19678;
    stroke: none;
}

.nav__navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: auto;
    margin: 0;
}

.nav__linkList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.nav__linkItem {
    letter-spacing: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &:hover .nav__subItemListContainer {
        display: block;
        opacity: 1;
        z-index: 999;
    }
}

.nav__linkItem__secondary {
    margin-right: 1.5rem;

    &:hover{
        color: #b19780;
    }
}

.nav_linkRelative {
    position: relative;
}

.nav__linkItem__nav__linkItemContainer {
    width: 100%;
    justify-content: flex-start;
    padding: 0 $navLinkItemHorizontalPaddingWithSubList;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: color .25s;
    line-height: 4rem;
    color: #463f38;

    &:hover{
        color: #b19780;
        border-bottom: 1px solid #6b6257;
    }
}

.nav__linkItem__nav__linkItemContainerFeature {
    color: #ce5633;

    &:hover{
        color: #ad9883;
        border-bottom: 0;
    }
}

.nav__linkItem__noBorder {
    border: none;

    &:hover{
        border: none;
    }
}

.nav__searchIcon {
    width: 16px;
    height: 16px;
    fill: #6b6257;
    stroke: none;
    top: 1px;

    &:hover {
        fill: #c19678;
        stroke: none;
    }
}

.nav__accountIcon {
    fill: #6b6257;
    stroke: none;
    top: 1px;
    cursor: pointer;

    &:hover {
        fill: #c19678;
        stroke: none;
    }
}

.nav__cartIcon {
    fill: #6b6257;
    stroke: none;
    top: 1px;
    cursor: pointer;

    &:hover {
        fill: #c19678;
        stroke: none;
    }
}

.cartIcon__count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #c19678;
    color: white;
    font-size: 10px;
    line-height: 1;
}

.nav__subItemListContainer {
    min-height: 0;
    padding: 1.5rem 0;
    position: fixed;
    min-width: 100%;
    background-color: #FFF;
    left: 0px;
    text-align: left;
    z-index: -1;
    opacity: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    // Fix for IE not recognizing the calc() function
    transform: translateY(-100%) translateY(-2px);
    transform: translateY(calc(-100% - 2px));
    transition: transform .5s, opacity .25s;
    top: 316px;
}

.navPannel__container {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    padding: 0;
    max-width: 1110px;
}

.navPannel__row {
    display: flex;
    height: auto;
    padding: 0;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem);
    flex-wrap: wrap;
    flex-direction: row;

    overflow-y: auto;
}

.navPannel__imgContainer {
    min-height: 202px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
}

.navPanel__imgCaption {
    padding-top: .75rem;
    font-size: 14px;
    text-align: left;
}

.navPanel__imgCaptionTitle {
    font-weight: 400;
}

.navPannel__sections {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-basis: 66.66666%;
    max-width: 66.66666%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navPannel__sectionsContainer {
    flex-grow: 1;
    align-content: flex-start;
    justify-content: center;
    text-align: center;
    margin-left: -1rem;
    margin-right: -1rem;
    width: calc(100% + 2rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navPannel__section {
    text-align: left;
    flex-basis: 25%;
    max-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 1px;
}

.navPannel__feature {
   border-right: 1px solid #e3e3e3;
}

.navPanel__sectionTitle {
    margin: 0;
    padding: 0 0 .5rem 0;
    font-size: .875rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.75;
}

.navPanel__sectionList {
    padding-left: 0;
    font-size: .875rem;
    list-style: none;
}

.navPanel__listItem {
    display: inline-block;
    width: 100%;
}

.navPanel__link {
    padding: .5rem 0;
    display: block;
    color: #463f38;
    text-decoration: none;

    &:hover {
        color: #b19780;
    }

}

.navPanel__span {
    &:hover {
        padding-bottom: 3px;
        border-bottom: 1px solid #463f48;
    }
}

.navPanel__extraLinks {
    margin-top: 0;
    text-align: left;
    border-bottom: none;
    padding-top: .75rem;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 0;
    display: flex;
}

.navPanel__extraLink {
    flex-basis: 25%;
    max-width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 1px;

}

.navPanel__arrowLink {
    display: inline-block;
    padding: 0;
    text-decoration: underline;
    border-top: none;
    font-size: .875rem;
    font-weight: 300;
    color: #000;
    align-items: baseline;

    &:hover {
        color: #b19780;
    }
}
