.banner {
    padding: 0;
    min-height: 40px;
    overflow: visible;
    z-index: 3010;

    color: #FFF;
    background-color: #365562;
    line-height: 1.3rem;
    font-weight: 300;
    text-align: center;
}

.banner__container {
    padding: 0;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1110px;
}

.banner__dialog {
    display: flex;
    align-items: center;
}

.banner__content {
    flex: 1;
    padding: .5rem 1.5rem .5rem 0;
}

.banner__salesTag {
    width: 32px;
    height: 18px;
    display: inline-block;
    position: relative;
}

.banner__salesTagIcon {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 0;
    top: -5px; // offset for svg clipping
}

.banner__link {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    color: #FFF;

    &:hover,
    &:visited {
        color: #FFF;
    }
}

.banner__close {
    position: absolute;
    right: 0;
    top: .75rem;
    height: 13px;
    background: none;
    padding: 0;
    border: 0;
    appearance: none;

    .icon {
        stroke: color(contrast, white);
    }
}

.banner__closeIcon {
    stroke: #FFF;
    stroke-width: 2;
}
