@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
    url('//fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdq.eot?#iefix') format('eot'), /* IE6-IE8 */
    url('//fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2') format('woff2'), /* Super Modern Browsers */
    url('//fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdo.woff') format('woff'), /* Modern Browsers */
    url('//fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr3cOWxw.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//fonts.gstatic.com/l/font?kit=6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdp&skey=e2b26fc7e9e1ade8&v=v11#SourceSansPro') format('svg');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('//fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7h.eot?#iefix') format('eot'), /* IE6-IE8 */
    url('//fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2') format('woff2'), /* Super Modern Browsers */
    url('//fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7j.woff') format('woff'), /* Modern Browsers */
    url('//fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7gujVj9w.ttf') format('truetype'), /* Safari, Android, iOS */
    url('//fonts.gstatic.com/l/font?kit=6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7i&skey=1e026b1c27170b9b&v=v11#SourceSansPro') format('svg');
}

@font-face {
    font-family: 'OptimaNovaLT';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('https://www.saatva.com/fonts/OptimaNovaLT/OptimaNovaLT.eot');
    src: url('https://www.saatva.com/fonts/OptimaNovaLT/OptimaNovaLT.eot?#iefix') format('embedded-opentype'),
    url('https://www.saatva.com/fonts/OptimaNovaLT/OptimaNovaLT.woff2') format('woff2'),
    url('https://www.saatva.com/fonts/OptimaNovaLT/OptimaNovaLT.woff') format('woff'),
    url('https://www.saatva.com/fonts/OptimaNovaLT/OptimaNovaLT.ttf') format('truetype');
}

html {
    font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a, a:visited {
    color: black;
}

* {
  box-sizing: border-box;
}

p, h1, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.section {
    padding: 2.5rem 0;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.section--alt1 {
    background-color: #fafafb;
}

@media (min-width: 768px) {
    .section--lg {
        padding: 5rem 0;
    }
}

.container {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.25rem;
}

.container {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.25rem;
}

.u-paddingHorizontal--none {
    padding-left: 0;
    padding-right: 0;
}

.u-paddingBottom--none {
    padding-bottom: 0;
}

.u-paddingTop {
    padding-top: 1rem;
}

.u-paddingTop--xs {
    padding-top: .5rem;
}

.u-marginBottom {
    margin-bottom: 1rem!important;
}

.u-marginBottom--none {
    margin-bottom: 0;
}

.row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -.75rem;
    margin-right: -.75rem;
    width: calc(100% + 1.5rem);
    flex-grow: 1;
}

@media only screen and (max-width: 1025px) {
    .row--gutter-lg > .col {
        margin-bottom: 2rem;
    }
}

.u-marginBottom--2xs {
    margin-bottom: .25rem!important;
}

.u-marginLeft--2xs {
    margin-left: .25rem!important;
}

.u-marginBottom--lg {
    margin-bottom: 1.5rem!important;
}

.u-marginRight--md {
    margin-right: 1.25rem!important;
}

.u-marginVertical--xs {
    margin-top: .5rem;
    margin-bottom: .5rem!important;
}

.u-marginVertical--lg {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.u-margin--center {
    margin: 0 auto!important;
}

.u-marginBottom--3xl {
    margin-bottom: 3rem!important;
}

.col {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 1px;
    padding-left: .75rem;
    padding-right: .75rem;
}

.u-textLeft {
    text-align: left;
}

.t-color--white {
    color: $white;
}

.u-textCenter {
    text-align: center;
}

.u-textRight {
    text-align: right;
}

.t-heading2 {
    margin-bottom: 1.25rem;
    font-family: OptimaNovaLT,Times New Roman,Times,Georgia,serif;
    color: #6b6257;
    letter-spacing: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.t-body {
    letter-spacing: normal;
    font-weight: 300;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 1rem;
    line-height: 1.75;

    margin-bottom: 1.75rem;
}

.u-cursorPointer {
    cursor: pointer;
}

.u-flexDisplay {
    display: flex;
}

.u-flexJustify--spaceBetween {
    justify-content: space-between;
}

@media only screen and (min-width: 0) {
    .row--center-xs {
        justify-content: center;
        text-align: center;
    }

    .col--order-first-xs {
        order: -1;
    }

    .col--xs-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%;
    }

    .col--xs-12 {
        flex-basis: 100%;
        max-width: 100%;
    }


    .u-flexAlign--flexEnd {
        -webkit-align-items: flex-end;
        align-items: flex-end;
    }

    .u-flexDisplay {
        display: -webkit-flex;
        display: flex;
    }

    .u-flexJustify--center {
        justify-content: center;
    }

    .u-flexDirection--row {
        flex-direction: row;
    }

    .u-flexAlign--center {
        align-items: center;
    }

    .u-paddingHorizontal--none {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 572px) {
    .container {
        &--sm {
            max-width: 540px;
        }
    }

    .u-paddingHorizontal--none {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 576px) {
    .container {
        padding: 0;
        max-width: 540px;
    }

    .u-paddingHorizontal--none {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 680px;
    }

    .col--order-last-md {
        order: 1;
    }

    .col--md-4 {
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }

    .col--md-6 {
        -webkit-flex-basis: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }

    .col--md-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%;
    }

    .col--md-12 {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }

    .t-heading2 {
        font-size: 1.75rem;
        line-height: 1.43;
    }

    .u-paddingHorizontal--none {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 932px;
    }

    .col {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .col--order-first-lg {
        order: -1;
    }

    .col--lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col--lg-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }

    .col--lg-4 {
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }

    .col--lg-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }

    .col--lg-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }

    .col--lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .t-heading2 {
        font-size: 2rem;
        line-height: 1.5;
    }

    .u-paddingHorizontal--none {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1110px;
    }

    .row {
        margin-left: -1rem;
        margin-right: -1rem;
        width: calc(100% + 2rem);
    }

    .u-paddingHorizontal--none {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 1025px) {
    .containerCol--lg-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    .containerCol--md-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%;
        margin: auto;
    }
}

.t-heading1 {
    color: #6b6257;
    font-family: "OptimaNovaLT", "Times New Roman", Times, Georgia, serif;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.2;
    margin-bottom: 0;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.t-heading3 {
    margin-bottom: 0.5rem;
    color: #6b6257;
    letter-spacing: normal;
    font-family: "Source Sans Pro", "Open Sans", "Times New Roman", Times, Georgia, serif;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
    text-transform: normal;
    -webkit-font-smoothing: antialiased;
}

.t-heading4 {
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-family: "Source Sans Pro", "Open Sans", "Times New Roman", Times, Georgia, serif;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.56;
    text-transform: none;
}

.t-bodySm {
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-family: "Source Sans Pro", "Open Sans", "Times New Roman", Times, Georgia, serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.56;
    text-transform: none;
}
